.todoItem {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  // background-color: indianred;
  border-bottom: 1px solid #ECECEC;
  .todoData >* {
    padding-left: 10px;
    // background-color: blue;
  }
}
