.todoItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  max-width: 400px;
  padding: 15px 0;
  .todoData {
    >* {
      padding-left: 10px;
    }
  }
  .todoRemoveBtn {
    color: red;
  }

}
