header {
  font-family: 'Autour One', cursive;
  padding: 0 60px;
  background-color: skyblue;
  color: #ececec;
  font-size: 100px;
  margin-bottom: 50px;
  box-shadow: 0 10px 1px lightblue, 0 10px 20px skyblue;
}
